*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,body {
  background-color: black;
  color: white;
}

.light {
  background: white;
  color: black;
  min-height: 100vh;
}

.dark {
  background: black;
  color: white;
}
